---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - argoproj.io
  resources:
  - applications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - applications/status
  verbs:
  - get
- apiGroups:
  - banana.mdlwr.se
  resources:
  - featseturesets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - banana.mdlwr.se
  resources:
  - featseturesets/finalizers
  verbs:
  - update
- apiGroups:
  - banana.mdlwr.se
  resources:
  - featseturesets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - banana.mdlwr.se
  resources:
  - features
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - banana.mdlwr.se
  resources:
  - features/finalizers
  verbs:
  - update
- apiGroups:
  - banana.mdlwr.se
  resources:
  - features/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - banana.mdlwr.se
  resources:
  - featuressets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - banana.mdlwr.se
  resources:
  - featuressets/finalizers
  verbs:
  - update
- apiGroups:
  - banana.mdlwr.se
  resources:
  - featuressets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - banana.mdlwr.se
  resources:
  - layers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - banana.mdlwr.se
  resources:
  - layers/finalizers
  verbs:
  - update
- apiGroups:
  - banana.mdlwr.se
  resources:
  - layers/status
  verbs:
  - get
  - patch
  - update
